:root {
    background: rgb(50,50,50);
    box-sizing: border-box;
    --dot-diameter: 20px;
    /* x and y coordinates for dot rotation */
    --rd: 3rem;
    --rdm: calc( var(--rd) * -1 );
    --rd45: calc( var(--rd) * 0.71 );    
    --rd45m: calc( var(--rdm) * 0.71 );    
}

body {
    display: flex;
    flex-direction: column;
}

h1 {
    display: flex;
    justify-content: center;
    color: #FFCB9A;
    margin: 1rem;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 160px;
    box-shadow: 2px 2px 6px white;
    background-color: rgb(70,70,70);
}

.cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
    gap: 2rem;
}


/* rotating arc */
.ld-arc {
    display: flex;
    margin: auto;
  margin: 1rem;
  border: 15px solid grey;
  border-radius: 50%;
  border-top: 15px solid #FFCB9A;
  width: 50px;
  height: 50px;
  animation: spinner 3s linear infinite;
}

@keyframes spinner {
  
  0% { transform: rotate(0deg); }

  100% { transform: rotate(360deg); }
}


/* bars */
.bar {
    background-color: #FFCB9A;
    width: 8px;
    height: 8px;
}

.ld-bars {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: scaler 2.5s ease-in-out infinite;
    gap: 4px;
}

@keyframes scaler {
    0% { 
      transform: scaleY(3); 
      opacity: 0.7;
    }
    50% { 
        transform: scaleY(1.0); 
        opacity: 0.9;
    }
    100% { 
        transform: scaleY(3); 
        opacity: 0.7;
    }
}  


/* fading dots */
.dot {
    display: flex;
    width: 20px;
    height: 20px;
    background-color: grey;
    border-radius: 50%;
}

.ld-dots1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 10px;
    align-items: center;
}

.dot-1 {
    animation: fading 1.5s ease-in-out 0s infinite;
}
.dot-2 {
    animation: fading 1.5s ease-in-out 0.5s infinite;
}
.dot-3 {
    animation: fading 1.5s ease-in-out 1s infinite;
}

@keyframes fading {
    0% {
        opacity: 1
    }
    20% {
        opacity: 0.1;
    }
    40% {
        opacity: 0.1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}


/* rotating dots */

.ld-dots2 {
  width: var(--dot-diameter);
  height: var(--dot-diameter);
  border-radius: 50%;

  box-shadow:
    0rem var(--rdm) rgba(252, 203, 154, 1),
    var(--rd45) var(--rd45m) rgba(252, 203, 154, 0.85),
    var(--rd) 0 rgba(252, 203, 154, 0.7),
    var(--rd45) var(--rd45) rgba(252, 203, 154, 0.60),
    0 var(--rd) rgba(252, 203, 154, 0.5),
    var(--rd45m) var(--rd45) rgba(252, 203, 154, 0.40),
    var(--rdm) 0 rgba(252, 203, 154, 0.25),
    var(--rd45m) var(--rd45m) rgba(252, 203, 154, 0.1);

  animation: rotate 1.4s linear infinite;
}

@keyframes rotate {
  100% { transform: rotate(-360deg) }
}