* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    --very-dark: #082e27;
    --dark-green: #164a41;
    --med-green: #4d774e;
    --light-green: #a6d096;
    --yellow: #f1b24a;
    --white: #ffffff;
    --light-gray: #ededed;
}

body {
    background-color: var(--white);
    height: 100vh;
}

ion-icon {
    font-size: 25px;
}

.content {
    display: flex;
    min-height: 100vh;
}

/*********** side navegation bar***********/
.sidenav {
    display: flex;
    flex-direction: column;
    grid-area: sidenav;
    border: 2px solid black;
    width: 350px;
    background-color: var(--very-dark);
    color: var(--light-gray);
    padding: 1rem;
}

.sn-title {
    display: flex;
    align-items: center;
    font-size: x-large;
    font-weight: 700;
    margin-top: 1rem;
    height: 2.5rem;
}

.sn-title-icon {
    padding-right: 8px;
}

.sn-navegation-block {
    list-style-type: none;
    margin-top: 2.5rem;
}

.sn-nav-item {
    margin-bottom: 0px;
}

.sn-nav-link {
    display: flex;
    font-size: medium;
    color: var(----light-gray);
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
}

.sn-icon {
    padding: 5px;
    padding-right: 8px;
    margin-top: auto;
    margin-bottom: auto;
}

/*********** main-container / right-side ***********/
.right-side-container {
    display: grid;
    grid-template-rows: 1.2fr 5fr;
    grid-template-areas:
        "header"
        "projects";
    width: 100%;
}

/*********** header ***********/
.header {
    display: grid;
    grid-area: header;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    border: 2px solid black;
}

.h-container-top {
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.h-search-container {
    display: flex;
}

.h-search-icon {
    display: flex;
    margin: auto;
}

.h-search-box {
    display: flex;
    border-radius: 10px;
    padding: 5px;
    background-color: var(--light-green);
    margin: 8px;
    font-size: medium;
}

.h-top-icons-container {
    display: flex;
    align-self: auto;
}

.h-alert-icon {
    margin: auto;
    padding: 10px;
}

.h-avatar-icon-top img {
    border: 2px solid black;
    border-radius: 40px;
    object-fit: cover;
    padding: 3px;
}

.h-avatar-icon-top {
    margin: auto;
}

label[for="h-avatar-icon-top"] {
    margin: auto;
    margin-left: 5px;
}

.h-container-bottom {
    display: flex;
    justify-content: space-between;
}

.h-hello-container {
    display: flex;
    margin-left: 10px;
}

.h-avatar-icon-bottom {
    margin: auto;
    padding: 10px;
}

.h-hello-name {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}

.h-hi {
    font-size: x-large;
    font-weight: 600;
}

.h-name {
    font-size: x-large;
    font-weight: 600;
}

.h-button-container {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 15px;
}

.h-btn {
    padding: 7px;
    font-size: large;
    border-radius: 8px;
    background-color: var(--light-green);
    margin-left: 8px;
    padding-left: 8px;
    padding-right: 8px;
    box-shadow: 3px 3px 3px grey;
    transition: all 2000 ease-in-out;
}

.h-btn:hover {
    opacity: 0.9;
    transform: scale(1.075);
}

/*********** projects***********/
.projects {
    display: grid;
    grid-area: projects;
    border: 2px solid black;
    grid-template-columns: 1fr 1fr 320px;
    grid-template-rows: 3rem 1fr 1fr 3rem;
    grid-template-areas:
        "title1 title1 title2"
        "proj proj announcement"
        "proj proj trending"
        "footer footer footer";
    background-color: var(--med-green);
}

.t1 {
    grid-area: title1;
}

.t2 {
    grid-area: title2;
}

.p-title {
    margin-left: 15px;
    margin-top: auto;
    margin-bottom: 3px;
    font-size: large;
    color: var(--light-gray);
    font-weight: 600;
}

.p-container-projects {
    display: grid;
    grid-area: proj;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "card1 card2"
        "card3 card4"
        "card5 card6";
    background-color: var(--med-green);
}

.card1 {
    grid-area: card1;
}

.card2 {
    grid-area: card2;
}

.card3 {
    grid-area: card3;
}

.card4 {
    grid-area: card4;
}

.card5 {
    grid-area: card5;
}

.card6 {
    grid-area: card6;
}

.card {
    position: relative;
    margin: 12px;
    border-left: 10px solid var(--yellow);
    padding: 8px;
    background-color: var(--light-green);
    border-radius: 6px;
    box-shadow: 2px 2px 3px var(--light-green);
    transition: all 2000 ease-in-out;
}

.card:hover {
    opacity: 0.9;
    transform: scale(1.005);
}

.card-title {
    margin: 0.5rem;
    font-weight: 600;
    font-size: large;
}

.card-paragraph {
    margin: 0.5rem;
}

.card-icons {
    display: flex;
    position: absolute;
    right: 0px;
    bottom: 0px;
    justify-content: end;
    margin: 0.5rem;
}

.card-icons > ion-icon {
    margin: 0.5rem;
}

.p-container-announcements {
    grid-area: announcement;
    padding-bottom: 5px;
}

.p-container-trending {
    grid-area: trending;
    padding-bottom: 5px;
}

.p-announcements,
.p-trending {
    margin: 12px;
    margin-bottom: 13px;
    padding: 8px;
    background-color: var(--light-green);
    border-radius: 6px;
    height: calc(100% - 20px);
    box-shadow: 2px 2px 3px var(--light-green);
}

.p-announcements {
    height: calc(100% - 20px);
}

.announcement-item {
    margin: 8px;
    margin-bottom: 15px;
}

.announcement-item-title {
    font-weight: 600;
}

.announcement-item-text {
}

.p-trending {
    height: calc(100% - 40px);
    padding-top: 5px;
}

.trending-item {
    display: flex;
    margin: 4px;
    justify-content: start;
    margin-top: 12px;
}

.trending-user-container {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 8px;
}

.h-avatar-icon-trending {
}

.trending-email {
}

.trending-name {
}

.p-footer {
    display: flex;
    justify-content: center;
    grid-area: footer;
    gap: 50px;
    border: 2px solid var(--light-green);
    margin: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 6px;
}

.credit-author,
.credit-other {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
}

.star-label {
    display: flex;
    align-items: center;
}
